/* Apply general styles to the form */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    background-color: #00308F;
    font-family: 'Source Code Pro', monospace;
}

h1{
    text-align: center !important;
    color: #fdfdfd !important;
}

#form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

/* Apply styles to form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Apply styles to text inputs */
input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Apply styles to the submit button */
button[type="submit"]{
    width: 29em;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

